@page "/popuptest"

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Switcharoo">Create new set</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Clear">Clear</MudButton>

@foreach (var el in Items)
{
    <div>
        I'm @el.Title. Chippys:
        @foreach (var tip in el.SubElems)
        {
            <MudPaper>
                <MudPaper>
                    <MudPaper>
                        <MudDivider />
                        <MudLink>@tip.SomeData1</MudLink>
                    </MudPaper>
                </MudPaper>
            </MudPaper>
        }

        <MudButton>Button1</MudButton>
        <MudButton>Button2</MudButton>
        <MudButton>Button3</MudButton>
    </div>
}